* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow: hidden;
}

.boolzap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* INIZIO COLONNA SINISTRA */
.colonna-sx {
  width: 35vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.head-and-search-container {
  display: block;
}

.user-container {
  overflow: scroll;
}

.head-sx,
.head-dx {
  height: 70px;
  width: 100%;
  background-color: #eeeeee;
}

.head-sx {
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-sx i {
  margin: 10px;
  color: grey;
  padding-left: 10px;
}

.user-name {
  float:left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.items-sx-dx {
  float: right;
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.search-sx {
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
}

.search-text {
  border-radius: 15px;
  width: 95%;
  margin: 10px;
  padding: 20px;
  font-size: 16px;
}

.chat-user {
  width: auto;
  height: 80px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}



.chat-user:hover {
  background-color: #e9ebeb;
}

.chat-user.active {
background-color: #e9ebeb;
}

.chat-user i {
  float:left;
  color: grey;
}

.chat-user h3 {
  margin-left: 20px;
  padding-bottom: 20px;
}

/* FINE COLONNA SINISTRA  */

/* INIZIO COLONNA DESTRA */
.colonna-dx {
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.head-dx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head-dx i {
  margin: 10px;
  color: grey;
  padding-left: 10px;
  float: left;
}

#nome {
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  top: 12px;
}

.items-dx-dx {
  margin-right: 20px;
  margin-top: 10px;
}

.chat-box {
  background-color: #ece5dd;
  background-size: cover;
  height: 545px;
  width: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.message-row {
  height: 100px;
}

.box {
  display: none;
}

.box.active {
  display: block;
}

.template {
  display: none;
}

.message {
  padding: 20px;
}

.message-menu-opener {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-self: center;
  position: relative;
  right: 10px;
  color: grey;
}

.message-menu-opener a {
  color: grey;
}

.message-container:hover .message-menu-opener {
  visibility: visible;
}

.cpu .message-dropdown {
  position: absolute;
  left: 63px;
  top: 35px;
}

.utente .message-dropdown {
  position: absolute;
  right: 15px;
  top: 35px;
}

.message-dropdown {
  background-color: white;
  text-align: left;
  width: 200px;
  box-shadow: 1px 1px 5px -1px grey;
  color: grey;
  z-index: 1000;
  display: none;
}

.message-dropdown.active {
  display: block;
}

.item {
  width: 200px;
  padding: 20px;
  width: auto;
  height: auto;
}

.item:hover {
  background-color: #eaeaea;
}

.message-container {
  background-color: white;
  position: relative;
  margin: 20px;
  border-radius: 15px;
  word-wrap: normal;
  display: flex;
  float: left;
}

.message-container.utente {
  background-color: #dcf8c6;
  display: flex;
  float: right;
}

.time {
  font-size: 8px;
  margin: 5px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.write-message {
  background-color: #efefef;
  width: 100%;
  height: 60px;
  display: block;
}

.write-message:after {
  content: "";
  clear: both;
  display: table;
}

.write-message input {
  border-radius: 20px;
  width: 90%;
  height: 40px;
  margin: 10px;
  padding-left: 20px;
  float: left;
  font-size: 16px;
}

.write-message a {
  float: right;
  color: grey;
  margin: 15px;
  margin-right: 16px;
}

.write-message a:hover {
  color: #128c7e;
}
