* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.boolzap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* INIZIO COLONNA SINISTRA */
.colonna-sx {
  width: 35vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.head-and-search-container {
  display: block;
}

.user-container {
  overflow: scroll;
}

.head-sx,
.head-dx {
  height: 70px;
  width: 100%;
  background-color: #eeeeee;
}

.head-sx {
  border-right: 1px solid #e0e0e0;
}

.head-sx i {
  margin: 10px;
  color: grey;
  padding-left: 10px;
}

.items-sx-dx {
  float: right;
  padding: 5px;
}

.search-sx {
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
}

.search-sx input {
  border-radius: 15px;
  width: 95%;
  margin: 10px;
  padding: 20px;
  font-size: 16px;
}

.chat-user {
  width: auto;
  height: 80px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

.chat-user:hover {
  background-color: #e9ebeb;
}

.chat-user i {
  float:left;
  color: grey;
}

.chat-user h3 {
  margin-left: 20px;
  padding-bottom: 20px;
}

/* FINE COLONNA SINISTRA  */

/* INIZIO COLONNA DESTRA */
.colonna-dx {
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.head-dx i {
  margin: 10px;
  color: grey;
  padding-left: 10px;
  float: left;
}

.chat-box {
  background-color: #ece5dd;
  background-size: cover;
  height: 545px;
  width: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.template {
  display: none;
}

.message {
  background-color: white;
  max-width: 300px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  word-wrap: normal;
  display: flex;
  float: left;
}

.message.utente {
  background-color: #dcf8c6;
  display: flex;
  float: right;
}

.write-message {
  background-color: #efefef;
  width: 100%;
  height: 60px;
  display: block;
}

.write-message:after {
  content: "";
  clear: both;
  display: table;
}

.write-message input {
  border-radius: 20px;
  width: 90%;
  height: 40px;
  margin: 10px;
  padding-left: 20px;
  float: left;
  font-size: 16px;
}

.write-message a {
  float: right;
  color: grey;
  margin: 15px;
}

.write-message a:hover {
  color: #128c7e;
}
